<div class="container">
    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">
            <div class="text-center">{{message}}</div>
                <form action="/delete" class="form mt-5" method="POST">
                    <input type="hidden" name="_id"  value="{{item._id}}">
                    <div class="form-group">
                        <input class="form-control" type="number" name="code" id="" placeholder="Enter access code to delete"><br>
                    </div>
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>

                <div class="text-center mt-5">
                    <a href="/" class="btn btn-danger"><i class="fa fa-arrow-left"></i>Home</a>
                </div>
            </div>
        </div>
        <div class="col-lg-1"></div> 
    </div>      
</div>

