<div class="container">
    <div class="text-center">
        <div class="text-danger"><i class="fa fa-envelope fa-2x"></i></div>
    </div>
    <div class="card bg-danger text-white p-5">
        <div class="card-heading">
            <h4>Message</h4>
        </div><hr>
        <div class="card-body">
            <div class="class-title">
                <h6>Message for Theodore</h6>
            </div>
            <p class="card-text">{{message.message}}</p>
        </div>
        <hr>
        By {{message.name}} on {{message.date}} 
    </div>
    <div class="text-center mt-5">
        <a href="/" class="btn btn-danger"><i class="fa fa-arrow-left"></i>Home</a>
    </div>
</div>